<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is the formative assessment tool to help Computer Science educators worldwide to &#39;force&#39; basic understanding of various common data structures and algorithms taught in CS courses.">
    <meta name="keywords" content="Online Quiz Training Data Structures Algorithms Formative Assessment">

    <meta name="csrf-token" content="ZGnaFstpqYUpb46TqCToiNBcoXiBEDWErMD3zn5r">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">

    <title>YOUR EXERCISE RESULT</title>

    <div th:include="exercise/exerciseCommon :: exerciseCommonCSS"></div>

    <div th:replace="exercise/exerciseCommon :: exerciseDoExercisePageCommonStyle"></div>

    <div th:replace="exercise/exerciseCommon :: exerciseCommonScript"></div>
</head>
<body>
<!--exercise common top bar-->
<div th:include="exercise/exerciseCommon :: exerciseCommonTopBar"></div>



<table id="jieguo" style="position:absolute;vertical-align:middle;margin-top:100px;width:100%;height:300px;">
    <tr style="text-align:center;">
        <td style="font-size:18px;font-style:calibri;bottom:-50px;vertical-align: bottom;">
            <p>你的得分为</p>
        </td>
    </tr>


    <tr style="text-align:center;">
        <td style="font-size:35px;font-style:calibri;font-weight:bold;">
            [[${rightCount}]]
            <p> out of 5</p>
        </td>
    </tr>


    <tr style="text-align:center;">
        <td style="font-size:12px;font-style:calibri;top:-50px;vertical-align: top;">
            <a th:href="@{/exercise/reflectFaultQuestion}">
                <input type="button" id="11111111" value="错题回顾"
                       style="background-color:#a7d41e;padding:3px;padding-left:9px;padding-right:9px;
font-size:15px;font-weight:bold;color:white;margin-top:20px;">
            </a>
        </td>
    </tr>
</table>
</body>
</html>