#drawgraph svg{border:2px solid;background-color:#eee;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}


#drawgraph svg:not(.active):not(.ctrl){cursor:crosshair}


#drawgraph path.link{fill:none;stroke:#333;stroke-width:4.3px;cursor:default}


#drawgraph svg:not(.active):not(.ctrl) path.link{cursor:pointer}


#drawgraph path.link.selected{stroke-dasharray:10,2}


#drawgraph path.link.dragline{pointer-events:none}


#drawgraph path.link.hidden{stroke-width:0}


#drawgraph circle.node{stroke:#333;stroke-width:2px;cursor:pointer}


#drawgraph text{font-family:sans-serif;font-size:16px;font-weight:700;pointer-events:none}


#drawgraph text.weight{cursor:pointer;font-weight:700;text-anchor:middle}


#drawgraph text.id{text-anchor:middle;font-weight:700}


#drawgraph .tableTitle{width:100%;background-color:#090;color:#fff;font-family:Arial;font-size:14px;font-weight:700;padding:10px 0;text-align:center}

#drawgraph .graphTable{border-collapse:collapse;border-spacing:0}

#drawgraph .graphTable td{border-width:0 1px 1px 0;border:1px solid #000;text-align:center;padding:0}

#drawgraph .graphTable tr:hover{background-color:#fff}

#drawgraph #IsTree,#drawgraph #IsTree0,#drawgraph #IsComplete,#drawgraph #IsComplete0,#drawgraph #IsBipartite,#drawgraph #IsBipartite0,#drawgraph #IsDAG0,#drawgraph #IsDAG{font-family:Arial;font-size:14px}

#drawgraph .bold{font-weight:700}